<h5>Opciones para el centro medico</h5>
<a href="/medpatient/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Pacientes</a>
<a href="/secuser/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Médicos/Usuarios</a>
<a href="/seccompanybranch/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Sucursales</a>
<a href="/medpractice/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Practicas</a>
<a href="/medspeciality/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Especialidades</a>
<a href="/medqueue/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Turneros</a>
<a href="/sysbranchboxes/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Boxes/consultorio</a>
<a href="/sysnowork/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Feriados</a>
<a href="/systypecompany/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Tipos datos</a>
<a href="/seccompanyskin/{{company.id}}/index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Templates</a>