{% extends 'base.html.twig' %}

{% block title %}Usuarios del sistema{% endblock %}

{% block body %}
{% for message in app.session.getFlashBag.get('message') %}
    <br><div class="alert alert-success" role="alert">{{ message}}</div>
{% endfor %}
{% for message in app.session.getFlashBag.get('messageerr') %}
    <br><div class="alert alert-danger" role="alert">{{ message}}</div>
{% endfor %}
<br>
<a class="btn btn-secondary" role="button" aria-disabled="true" href="{{url('user_index')}}">Volver</a>

<h1>{{titleform}}</h1>

{% if borrado is defined %}<div class="alert alert-danger" role="alert">ATENCIÓN: Usted está por eleminar este registro.</div>{% endif %}
{{ form(form) }}

{% endblock %}
