{% extends 'base.html.twig' %}


{% block title %}{{ 'Listado de SecRolemenu' | trans }}{% endblock %}

{% block body %}
<h1>{{ 'Lista de SecRolemenu' | trans }}</h1>

{% for message in app.session.getFlashBag.get('message') %}
    <br><div class="alert alert-success" role="alert">{{message| trans}}</div>
{% endfor %}
{% for message in app.session.getFlashBag.get('messageerr') %}
    <br><div class="alert alert-danger" role="alert">{{message | trans }}</div>
{% endfor %}


<a class="btn btn-primary" role="button" aria-disabled="true" href="{{url('secrolemenu_new')}}">{{ 'Nuevo SecRolemenu' | trans }}</a>
<table id="tblist" class="table table-sm table-striped table-bordered table-hover">
<thead>
<tr>
 <th data-field="roleId">{{ 'Role_id' | trans}}</th>
 <th data-field="menuId">{{ 'Menu_id' | trans}}</th>
 <th data-field="opcionSecRolemenu">{{'Opcion' | trans}}</th>
</tr>
</thead>
</table>

<script>
$(document).ready(function() {
  $('#tblist').DataTable({
    "stateSave":true,"processing":true,
    "language":{"url":"{{asset('/assets/datatables/Spanish.json')}}"},
    "ajax":"{{url('secrolemenu_list')}}",
    "order": [[ 0, "desc" ]],
    "columns":[
      {"data":"roleId"},
      {"data":"menuId"},
      {"data":"id",fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {if(oData.id) {$(nTd).html("<a href='/secrolemenu/"+oData.id+"/delete'><i class='bi bi-trash'></i></a>");}}},
    ]
   });   
});
</script>

{% endblock %}
