{% extends 'base.html.twig' %}


{% block title %}{{ 'Listado de SysTypetype' | trans }}{% endblock %}

{% block body %}
<h1>{{ 'Lista de SysTypetype' | trans }}</h1>

{% for message in app.session.getFlashBag.get('message') %}
    <br><div class="alert alert-success" role="alert">{{message| trans}}</div>
{% endfor %}
{% for message in app.session.getFlashBag.get('messageerr') %}
    <br><div class="alert alert-danger" role="alert">{{message | trans }}</div>
{% endfor %}


<a class="btn btn-primary" role="button" aria-disabled="true" href="{{url('systypetype_new')}}">{{ 'Nuevo SysTypetype' | trans }}</a>
<table id="tblist" class="table table-sm table-striped table-bordered table-hover">
<thead>
<tr>
 <th data-field="object">{{ 'Object' | trans}}</th>
 <th data-field="name">{{ 'Name' | trans}}</th>
 <th data-field="orderlist">{{ 'Orderlist' | trans}}</th>
 <th data-field="property">{{ 'Property' | trans}}</th>
 <th data-field="active">{{ 'Active' | trans}}</th>
 <th data-field="common">{{ 'Common' | trans}}</th>
 <th data-field="opcionSysTypetype">{{'Opcion' | trans}}</th>
</tr>
</thead>
</table>

<script>
$(document).ready(function() {
  $('#tblist').DataTable({
    "stateSave":true,"processing":true,
    "language":{"url":"{{asset('/assets/datatables/Spanish.json')}}"},
    "ajax":"{{url('systypetype_list')}}",
    "order": [[ 0, "desc" ]],
    "columns":[
      {"data":"object"},
      {"data":"name"},
      {"data":"orderlist"},
      {"data":"property"},
      {"data":"active"},
      {"data":"common"},
      {"data":"id",fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {if(oData.id) {$(nTd).html("<a href='/systypetype/"+oData.id+"/delete'><i class='bi bi-trash'></i></a>");}}},
    ]
   });   
});
</script>

{% endblock %}
